body{
    display: flexbox;
    flex-direction: column;
    background-color: grey;
}
.one{
    background: chartreuse;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    }
/*header part*/
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: peachpuff;
    flex: 1;
}
ul{
    display: flex;
    background-color: brown;
    gap: 20px;
}
/*content part*/
.content{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content:center;
    gap: 130px;
    background-color:pink ;
    margin-left: auto;
    margin-right: auto;
    width :930px;
    }
img{
    width: 400px;
    height: auto;
    }
.text{
    font-size: x-large;
}
.text p{
    font-size: 16px;
}
button{
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
}
.two{
    display: flex;
    background-color: aquamarine;
    flex-direction: column;
}
.two-header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards{
    display: flex;
    justify-content: center;
    gap: 52px;
    background-color: cadetblue;
    }
  .card1,.card2,.card3,.card4{
      width: 200px;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
    }
    .text{
        font-size: xx-small;
    }
    .cards img{
        height:100px;
        width: 150px;
    }